
body {
    background-color: #566573;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,152,155,1) 0.1%, rgba(0,94,120,1) 94.2% );

    color: rgb(229, 229, 202);
}

header {
    display: flex;
    font-family: 'Poppins', sans-serif;
    color: black;
}

div.titreport { 

    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

img { 
    width: 400px;
    height: 500px;
    
}

h2 {

   
justify-content: center;
}

div.groupe {

  color: black; 
  justify-content: left; 
  margin: 20px;
  text-align: center;
  font-size: 20px;
}

div.partiel {
    color: black;
    justify-items: center;
    text-align: center;
    margin: 20px;
    font-size: 20px;
}

div.mockup {
    color: black;
    margin: 20px;
    text-align: center;
    font-size: 20px;
}

div.projet {

    display: flex;
    justify-content: center;
    
    
}



